<div class="play-container">
  <% if @game.state.empty? %>
    <div class="play-title">Guess code with numbers from 1 to 6</div>
    <!-- Play process -->
    <div class="play-process">
      <!-- Guess form -->
      <form class="guess-form" action="update" method="post">
        <div class="guess-list">
          <% @game_opt[:secret_code].length.times do |index| %>
            <div class="guess-item">
              <label for="guess_<%= index %>" class="guess-block">
                <input
                id="guess_<%= index %>"
                class="guess-input"
                name="guess[]"
                required pattern="^[1-6]{1}$"
                value="<%= @game_opt[:last_guess][index] %>" >
                <div class="guess-lines"></div>
              </label>
              <div class="guess-hint"><%= hint[index] if !!hint && hint[index] != '*' %></div>
            </div>
          <% end %>
        </div>
        <% if @game_opt[:attempts] < Game::MAX_ATTEMPTS %>
          <div class="guess-progress">
            Progress
            <% if @game_opt[:answer] == '' %>
            <span class="progress empty">nothing</span>
            <% else %>
            <span class="progress"><%= @game_opt[:answer] %></span>
            <% end %>
          </div>
        <% end %>
        <label for="send_guess" class="guess-button green-button">Send<span class="score-circle"><%= @game_opt[:attempts] %></span></label>
        <input id="send_guess" name="send_guess" type="submit" style="display: none">
      </form>
      <!-- Get hint -->
      <form class="get-hint" action="play" method="post">
        <label for="get_hint" class="blue-button">Hint<span class="score-circle"><%= @game_opt[:hint_count] %></span></label>
        <input id="get_hint" type="submit" name="hint" style="display: none">
      </form>
      <!-- Start new game -->
      <a class="new-game blue-button-inverse" href="/create">New game</a>
  </div>
  <% else %>
    <%= render 'games/_gameover' %>
  <% end %>
</div>
